.contenedor-general {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .tituloHome {
    width: 100%;
    text-align: center;
    h2 {
      width: 100%;
      color: #ff7517;
      text-align: center;
      font-size: 40px;
      font-weight: 1000;
      letter-spacing: 2px;
    }

    h4 {
      width: 100%;
      color: #ff7517;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      letter-spacing: 2px;
    }
  }

  .mat-card {
    width: 30%;
    background: #2c2727;
    border-radius: 10px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;

    .tituloPlatillo {
      display: inline-block;
      align-content: center;
      width: 100%;
      .img-platillo {
        text-align: center;
      }
      h3 {
        width: 100%;
        color: #ff7517;
        text-align: center;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 2px;
      }
    }

    .button-container {
      width: 100%;
      text-align: center;
      margin-bottom: 6px;
      margin-top: 6px;

      button {
        width: 60%;
        border: transparent;
        border-radius: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        background: #ff7517;
        color: white;
        font-size: 15px;
        letter-spacing: 5px;
      }

      button:hover
        {
          background: #a74400;
          cursor: pointer;
        }
    }
  }
}
